# SKN 19기 mini-project 5팀(팀명: 여권어디있지) M/L

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')


# pandas 출력 옵션
pd.set_option('display.float_format', '{:.2f}'.format)

# 한글 폰트 사용을 위한 설정
import matplotlib.font_manager as fm
import matplotlib

font_path = 'C:\\Windows\\Fonts\\gulim.ttc'
font = fm.FontProperties(fname=font_path).get_name()
matplotlib.rc('font', family=font)

In [5]:
df_listings = pd.read_csv('./data/listings.csv')

In [6]:
df_listings

,neighbourhood_cleansed,property_type,room_type,accommodates,bathrooms,bedrooms,beds,amenities,price,number_of_reviews,first_review,review_scores_rating
0,4,11,0,3,1.00,0.00,2.00,"[""Bidet"", ""Body soap"", ""Bed linens"", ""Hot wate...",100000.00,0,NaN,NaN
1,4,11,0,8,1.00,2.00,5.00,"[""Bidet"", ""Body soap"", ""Bed linens"", ""Hot wate...",100000.00,0,NaN,NaN
2,46,12,0,4,2.00,2.00,2.00,"[""Room-darkening shades"", ""Body soap"", ""Carbon...",14550.00,24,2023-12-04,4.42
3,20,8,0,8,1.00,3.00,6.00,"[""Room-darkening shades"", ""Cooking basics"", ""C...",22012.00,15,2024-01-10,4.73
4,44,11,0,3,1.00,1.00,1.00,"[""Clothing storage: closet"", ""Elevator"", ""Hair...",15429.00,17,2023-12-26,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...
23002,42,11,0,4,1.00,1.00,2.00,"[""Elevator"", ""Hair dryer"", ""Lockbox"", ""Stove"",...",12306.00,0,NaN,NaN
23003,40,8,0,11,1.00,4.00,7.00,"[""Bidet"", ""Cooking basics"", ""Body soap"", ""Stov...",40732.00,0,NaN,NaN
23004,30,8,0,7,1.00,3.00,4.00,"[""Record player"", ""Private patio or balcony"", ...",64436.00,0,NaN,NaN
23005,40,11,0,2,1.00,1.00,1.00,"[""Bidet"", ""Room-darkening shades"", ""Cooking ba...",17046.00,0,NaN,NaN
23006,48,11,0,2,1.00,1.00,1.00,"[""Hair dryer"", ""Fire extinguisher"", ""Lockbox"",...",19400.00,0,NaN,NaN